.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
/* overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 0px; /* height of your footer */
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 165px 0;
}

.banner h1 {
  margin: 0;
  padding-top: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 120px;
  text-align: center;
}

.banner p {
  text-align: center;
  padding-top: 0px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 0px 0px 30px;
}

.button-join {
text-align: center;
border-radius: 5px;
width: 380px;
display: block;
margin : auto;
}

.join_us {
text-align: center;
border-radius: 5px;
width: 200px;
display: block;
margin : auto;
padding: auto;
}

.dropdown-menu {
max-height: 300px;
border-radius: 4px;
overflow: scroll;
}

.btn-message {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  border-radius: 4px;
  font-size: 17px;
}

.btn-message:hover {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  font-size: 17px;
  transition: 0.8s;
}
