<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
      <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
      <% else %>
      <% recipient = User.find(conversation.sender_id) %>
      <% end %>
      <div class="notification">
        <%= cl_image_tag recipient.photo, :width => 50, :height => 50, :crop => :fill%>
        <div class="notification-content">
          <p><%= link_to recipient.first_name, conversation_messages_path(conversation)%></p>

        </div>
      </div>

      <% end %>
      <% end %>
    </div>
  </div>
</div>

<p>Index conversations</p>
