<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'concert-bm.jpg' %>);">

  <div class="container">
    <h1><strong>Welcome to BandMatch !</strong></h1>
    <div class="button-join">
      <p>Let's play together !</p>
      <a class="btn btn-flat btn-outline-light btn-block" href="#">Join us now</a>
    </div>
  </div>
</div>

