<div class="row justify-content-center my-4">
  <div class="col-12 col-lg-7">
    <div class="card-trip m-3">
      <img src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">

      <div class="card-trip-infos">
            <div class="container text-center">
            <h1><%= @band.name %></h1>

            </div>

        </div>
      </div>
    </div>
  </div>
