.container {
  margin: 40px, 40px;
  margin-bottom: 80px;
}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-product img {
  height: 200px;
  width: 120px;
  object-fit: cover;
}

/*.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}*/

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product a {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-product .card-product-infos {
  padding: 0px 0px 0px 16px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-product .card-product-infos a {
  font-size: 32px
}

.card-product-instruments {
  /* color: white;*/
  text-align: left;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
  border-style: solid 0.1px;
  border-radius: 2px;
  width: 180px;
  height: 90px;
  margin-left: 70px;
  margin-bottom: 60px;
  border-color: #7A2AD3;
}

.card-product-instruments p {
  padding-left: 16px;
  padding-top: 2px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  position: relative;
}

/*.mt-4, .my-4 {
  margin-top: 3.5rem !important;
}*/


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
