.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.card-trip-user {
  border-radius: 50px;
  width: 100px;
}

.section-title {
  text-align :center;
}

#avatar-card {
 text-align: center;
 margin-top: -50px;
}

#instruments {
  list-style-type: none;
}

.btn-message {
  background: #d934d9;
  background-image: -webkit-linear-gradient(top, #d934d9, #6d2bb8);
  background-image: -moz-linear-gradient(top, #d934d9, #6d2bb8);
  background-image: -ms-linear-gradient(top, #d934d9, #6d2bb8);
  background-image: -o-linear-gradient(top, #d934d9, #6d2bb8);
  background-image: linear-gradient(to bottom, #d934d9, #6d2bb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn-message:hover {
  background: #b43cfa;
  background-image: -webkit-linear-gradient(top, #b43cfa, #aa34d9);
  background-image: -moz-linear-gradient(top, #b43cfa, #aa34d9);
  background-image: -ms-linear-gradient(top, #b43cfa, #aa34d9);
  background-image: -o-linear-gradient(top, #b43cfa, #aa34d9);
  background-image: linear-gradient(to bottom, #b43cfa, #aa34d9);
  text-decoration: none;
}
